@model SpecsFor.Mvc.Demo.Models.AboutViewModel
@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>
	Hello, @Html.DisplayFor(m => m.User.UserName)
	@Html.EditorFor(m => m.User.UserName)
	@Html.IdFor(m => m.User)
</p>
<p>
	Today is @Html.DisplayFor(m => m.DayOfWeek)
</p>
<p>
	Our business days are:
	@for (var i=0; i < Model.BusinessDays.Length; i++)
	{
		<text>@Html.DisplayFor(m => m.BusinessDays[i]),</text>
	}
</p>